table {
    width: 70%;
    margin: 20px;
    border: 2px solid blue;
    font-family: Arial, sans-serif;
    font-size: 15px;
    box-shadow: 10px 10px 5px lightblue;
}

th, td{
    text-align: left;
    padding: 12px;
    border: 1px solid black
}